mat-form-field {
    width: 300px;
}

mat-progress-bar {
    width: 25%;
    justify-self: center;
}

.profile-list {
    overflow-y: auto;
}

mat-card {
    height: 380px;
    margin: 15px;
    cursor: pointer;
    transition:transform 0.2s linear;    
}
mat-card:hover {
    transform: scale(1.05);
}
mat-card-title {
    font-weight: bold;
}
mat-card-content img {
    max-width: 100%;
}
mat-list-item .label {
    font-weight: bold;
}