:host {
  display: flex;
  flex: 0 1 100%;
  width: 100%;
  height: 100%;
  justify-content: center;
}

mat-toolbar {
  margin-bottom: 20px;
}

button {
  margin-left: 10px;
}

mat-icon {
  cursor: pointer;  
}

.github-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}