<mat-progress-bar mode="indeterminate" fxFlex="30%" fxFlexAlign="center" *ngIf="loading"></mat-progress-bar>
<mat-card fxFlex="30%" fxFlexAlign="center" *ngIf="!loading">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Sign In to Github Browser</span>
      <mat-icon class="example-icon"></mat-icon>
      <br>
      <br>
    </mat-toolbar-row>
  </mat-toolbar>
  <form name="form" (ngSubmit)="f.form.valid && onSignin()" #f="ngForm" novalidate fxLayout="column">
    <mat-form-field *ngIf="!hasTokenAuth">
      <input matInput placeholder="Username" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required>
      <mat-error *ngIf="f.submitted && !username.valid">Username is required</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="!hasTokenAuth">
      <input matInput placeholder="Password" [type]="show ? 'text' : 'password'" name="password" [(ngModel)]="model.password" #password="ngModel"
        required>
      <mat-icon matSuffix (click)="show = !show">{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="f.submitted && !password.valid">Password is required</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="hasTokenAuth">
      <input matInput placeholder="Personal Acess Token" type="text" name="token" [(ngModel)]="model.token" #token="ngModel" required>
      <mat-error *ngIf="f.submitted && !token.valid">Token is required</mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-button color="primary" type="button" (click)="toggleTokenAuth()">
        {{hasTokenAuth ? 'Back' : 'Personal Token Authentication'}}
      </button>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
  </form>
</mat-card>
